<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 每个property相当于一个变量，可以在mybatis-config.xml中通过#{}进行插值 -->
    <properties>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.129.129:3306/test01?useSSL=true"/>
        <property name="username" value="remote-super123"/>
        <property name="password" value="aa319801"/>
    </properties>
    <settings>
        <!-- 指定日志输出实现：SLF4J | LOG4J2 | LOG4J | JDK_LOGGING | STDOUT_LOGGING -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 注册mapper，mapper存放SQL语句 -->
        <mapper resource="test-mapper.xml"/>
    </mappers>
</configuration>